/24bpp.bmp
/bitmap_output.bmp
/bitmap_test.bmp
/bitmap_test_backup.bmp
/test_reader.o
/1bpp.bmp
/24bpp2.bmp
/swirllyline.bmp
/pivot_center.bmp
/test_reader
/1bpp2.bmp
/8bpp.bmp
/.vscode
/a.out
/test_reader
